@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

body {
    height: 100%;
    width: 100%;
    font-family: 'Sulphur Point', sans-serif;
   
    align-items: center;
}
.inner-container {
    display: flex;
    flex-direction: column;
}
.admin-heading {
    text-align: center;
    font-size: 320%;
}

.add-items-to-list {
    display: flex;
    justify-content: center;
    margin:  2% 0 0 0;
}

.item-name {
    
    height: 5%;
    margin: 2% 3% 0% 1%;
    
    border-radius: 5px;
}

.add-btn {
    text-decoration: none;
    background-color: rgb(162, 2, 255);
    height: 0%;
    padding: 5px 25px;
    font-size: 150%;
    color: white;
    border-radius: 9px;
    margin-top: 1.5%;
    margin-left: 1%;
}

.add-btn:hover {
    color:  white;
    background-color: rgb(2, 48, 255);
}
span {
    margin-top: 2%;
}

.quantity {
    
    height: 5%;
    margin: 2% 3% 0% 1%;
    
    border-radius: 5px;
}
.table {
    display: flex;
    justify-content: center;
    margin: 5% 0 5% 0;
    height: 200px;
    overflow-y: auto;

}

input {
    font-size: 100%;
}

table ,th ,td{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 100%;
    
}

th, td  {
    padding:  15px 100px 15px 100px;
    text-align: center;
}
.two-buttons {
    display: flex;
    justify-content: center;

}
.update-table {
    text-decoration: none;
    background-color: rgb(162, 2, 255);
    height: 0%;
    padding: 5px 25px;
    font-size: 150%;
    color: white;
    border-radius: 9px;
    margin-top: 1.5%;
    margin-left: 1%;
    display: flex;
    width: fit-content;
}

.update-table:hover{
    color:  white;
    background-color: rgb(2, 48, 255);
}
.see-requests {
    text-decoration: none;
    background-color: rgb(162, 2, 255);
    height: 0%;
    padding: 5px 25px;
    font-size: 150%;
    color: white;
    border-radius: 9px;
    margin-top: 1.5%;
    margin-left: 1%;
    display: flex;
    width: fit-content;
}

.see-requests:hover {
    color:  white;
    background-color: rgb(2, 48, 255);
}