<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/css/style.css">
    <title>Logistics</title>
</head>
<body>
    

   
    <h1 id= "login-page-heading">Logistics Portal</h1>
    <div class="inner-container">
        <div class="login-animation">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player
                src="https://assets5.lottiefiles.com/packages/lf20_1oKQ75.json" mode="bounce" background="transparent"  speed="1"  style="width: 600px; height: 600px;" autoplay loop>
            </lottie-player>
        </div>
       
        <form class="login-details" method="post" action="form">
            <div class="login-heading">Login</div>
            Username :
            <input type="text" name="username" class="email">
            Password :
            <input type="password" name="password" class="password">
            <div class="category">
                
            </div>
            <div class="select-designation">
                Aukat :
                <input type="radio" name="designation" value="admin" class="admin-radio-btn"> Admin 
                <input type="radio" name="designation" value="CC" class="cc-radio-btn" > CC
            </div>
            <div class="submit-btn">  <input type="submit" ></div>
            <a href="" class="forgot-password" >Forgot Password ?</a>
           
        </form>
    </div>
    
    <script src="/js/app.js"></script>
    
</body>
</html>

