@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
body{
    font-family: 'Sulphur Point', sans-serif;
    width: fit-content;
    height: fit-content;
}

input {
    font-size: 100%;
}
#login-page-heading{
    text-align: end;
    font-size: 320%;
}

.login-animation {
    margin: 5% 0 0 0;

}

.inner-container {
    display: flex;
    width: 100%;
}

.login-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 20%;
}

.login-heading {
    align-items: center;
    font-size: 200%;
    margin: 0 50% 10% 80%;
}

.email {
    width: 200%;
    height: 5%;
    margin: 8% 0 8% 0;
    border-radius: 5px;
}

.password {
    width: 200%;
    height: 5%;
    margin:  5% 0 5% 0;
    border-radius: 5px;
}
.category {
    margin: 5% 0 5% 0;
}
.category-input{
    width: 200%;
    height: 50%;
    margin: 8% 0 8% 0;
    border-radius: 5px;
}
.submit-btn {
    margin: 20% 50% 10% 50%;
}
.submit-btn > input {
    
    text-decoration: none;
    background-color: rgb(162, 2, 255);
    
    padding: 5px 25px;
    font-size: 250%;
    color: white;
    border-radius: 9px;
}

.submit-btn > a:hover {
    color:  white;
    background-color: rgb(2, 48, 255);
}

.forgot-password {
    margin: 0 0 0 60%;
    padding: 0 0 0;
    width: 200%;
}